In [1]:
import pandas as pd
import numpy as np

## SET Evals PDF Scraping
Used [Tabula](https://tabula.technology/) to intially extract the tales from the PDF file.

In [68]:
set_df = pd.read_csv('tabula-ECON 2010-F23-Course Comments.csv')

In [69]:
# cleaning the scraped table column headers
set_df.drop(set_df.index[set_df['Comments'] == "Comments"], inplace = True)

In [70]:
print(set_df.shape)
set_df.head()

(636, 1)

                                            Comments
0  I don't really understand the complexities bet...
1  I really enjoyed Professor Elzinga's lectures,...
2                               El Zinga's the goat.
3  I feel like the course material is covered in ...
4                      It was a positive experience.

### Initial cleaning of the dataset

In [71]:
# drop nulls + none + no
set_df.drop(set_df.index[set_df['Comments'].isnull()], inplace = True)
set_df.drop(set_df.index[set_df['Comments'] == "No"], inplace = True)
set_df.drop(set_df.index[set_df['Comments'] == "no"], inplace = True)

In [72]:
# find and hardcode drop the ones that are just nothing
set_df[set_df['Comments'].str.contains("nothing", case=False)]

                                              Comments
58   Nothing really, maybe just that the lectures c...
61   Nothing in particular, sometimes the lectures ...
71                                      nothing really
78                                        Nothing much
100  This course was confusing and enlightening to ...
106                                            Nothing
151  The learning is very self–involved. Most of my...
395                                            nothing

In [73]:
set_df = set_df.drop([71, 78, 106, 395])

In [74]:
# check if they actally got dropped
set_df[set_df['Comments'].str.contains("nothing", case=False)]

                                              Comments
58   Nothing really, maybe just that the lectures c...
61   Nothing in particular, sometimes the lectures ...
100  This course was confusing and enlightening to ...
151  The learning is very self–involved. Most of my...

In [66]:
# save cleaned dataset
# set_df.to_csv('cleaned-set.csv', index=False)

In [75]:
set_df.head()
set_df.shape

(615, 1)

## The Course Forum Webscraping

In [2]:
import requests

In [3]:
URL = "https://thecourseforum.com/course/748/691/"
page = requests.get(URL)