In [1]:
import pandas as pd
import numpy as np

## SET Evals PDF Scraping
Used [Tabula](https://tabula.technology/) to intially extract the tales from the PDF file.

In [4]:
df = pd.read_csv('tabula-ECON 2010-F23-Course Comments.csv')

In [5]:
df.head()

                                            Comments
0  I don't really understand the complexities bet...
1  I really enjoyed Professor Elzinga's lectures,...
2                               El Zinga's the goat.
3  I feel like the course material is covered in ...
4                      It was a positive experience.

In [13]:
df.drop(df.index[df['Comments'] == "Comments"], inplace = True)

In [12]:
# drop null? theres also a couple of "nothing much"
#df.drop(df.index[df['Comments'].isnull()], inplace = True)

In [14]:
# save cleaned dataset
#df.to_csv('cleaned-set.csv', index=False)

                                            Comments
0  I don't really understand the complexities bet...
1  I really enjoyed Professor Elzinga's lectures,...
2                               El Zinga's the goat.
3  I feel like the course material is covered in ...
4                      It was a positive experience.

## The Course Forum Webscraping

In [2]:
import requests

In [3]:
URL = "https://thecourseforum.com/course/748/691/"
page = requests.get(URL)